.contact{
    display: flex;
}
.search{
    width: 64px;
    margin-top: 10px;
}
nav img{
    width: 25px;
    margin-bottom: -12px;
    margin-right: 10px;
}
.contacts{
    margin-left: 10%;
}
nav{
    margin: 25px;

}
.icon{
    width: 120px;
    height: 120px;
}
.M, .F, .N{
    font-size: 20pt;
    margin-left: 25px;
}